<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=statusCode %> </title>
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/notFound.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic+Coding:wght@700&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/70411dbbdb.js" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico">
</head>
<body >
    <div class="conatiner Main">
        <div class="grid-item main-content">
            <div class="content">
            <p>City</p>
            <p>Not Found.</p>
            <form action="/notfound">
   
                <button class="btn btn-lg btn-outline-danger" > &#8592 Take me home </button>
            </form>
        </div>
        </div>
   

    <div class=" grid-item gif">
    <img src="/images/error.gif" alt="">
   
</div>
</div>
</body>
</html>